<h1>CareCloud Appointment API</h1>

<p>
  This API doesn't use html views other than this one. To learn how to use it,
  please view the REAMDE
</p>
<h3>
  <%= link_to 'README', "https://github.com/mgreg90/carecloud_appointments/blob/master/README.md"%>
</h3>
